{% extends '_base.html' %}


{% block title %}
       
<title>{{ title }}</title>

{% endblock title%}

{% block header %}

<h1> {{header}} </h1>

{% endblock header %}

{% block content %}

<div align = 'center'>
    <div >
		<h1>{{content_title}}</h1>
	</div>
</div>



{% for book in books %}
<div class="card">
  <h5 class="card-header">{{book.name}}</h5>
  <div class="card-body">
    <h5 class="card-title"> {{book.all_authors_string}} </h5>
    <p class="card-text">{{book.description}}</p>
    <a href="#" class="btn btn-primary">Деталі</a>
  </div>
</div>
{% endfor %}


<li><a href="{% url 'index' %}">Back</a></li>


{% endblock %}
