{% extends '_base.html' %}


{% block title %}
       
<title>{{ title }}</title>

{% endblock title%}

{% block header %}

<h1> {{header}} </h1>

{% endblock header %}

{% block content %}

<div align = 'center'>
    <div >
		<h1>{{content_title}}</h1>
	</div>
</div>

<form action="{% url 'book_list' %}" method="get">
	<fieldset>
		<legend>Book filter</legend>
		<div class="row">
				<div class="col">
					
				<div> 
					<label for="book_id">Book id:</label>
					<input  class="form-control form-control-sm" type="text" name="book_id" value="{{filters.book_id}}">
				</div>
				<div> 
					<label for="book_name">Book name:</label>
					<input  class="form-control form-control-sm"   type="text" name="book_name" value="{{filters.book_name}}">
				</div>
			</div>
			<div class="col">		
				<div> 
					<label for="author_id">Author:</label>
					<select name="author_id" class="form-select form-select-sm" aria-label=".form-select-sm example">
						<option value=0>All</option>
						{% for author in authors %}
						<option value={{author.id}} {% if author.id == filters.author_id %} selected {% endif %} >{{author.surname_initials}}</option>
						{% endfor %}				
					</select>
				</div>	
				<div> 
					<label for="user_id">User:</label>
					<select name="user_id" class="form-select form-select-sm" aria-label=".form-select-sm example">
						<option value=0>All</option>
						{% for user in users %}
						<option value={{user.id}} {% if user.id == filters.user_id %} selected {% endif %} >{{user.surname_initials}}</option>
						{% endfor %}				
					</select>
				</div>
			</div>
		</div>		
	</fieldset>
	<fieldset>
		<legend>Book order</legend>
		<div>
			by name:

			<input type="radio" id="name_Choice0"
				name="name" value="none" {% if orders_by.name == 'none' %} checked {% endif %} >
			<label for="name_Choice0">None</label>

			<input type="radio" id="name_Choice1"
				name="name" value="asc" {% if orders_by.name == 'asc' %} checked {% endif %} >
			<label for="name_Choice1">ASC</label>
	
			<input type="radio" id="name_Choice2"
				name="name" value="desc" {% if orders_by.name == 'desc' %} checked {% endif %} >
			<label for="name_Choice2">DESC</label>
		
		</div>
		<div>
			by count:

			<input type="radio" id="name_Choice0"
				name="count" value="none" {% if orders_by.count == 'none' %} checked {% endif %} >
			<label for="name_Choice0">None</label>

			<input type="radio" id="count_Choice1"
				name="count" value="asc" {% if orders_by.count == 'asc' %} checked {% endif %} >
			<label for="count_Choice1">ASC</label>
	
			<input type="radio" id="count_Choice2"
				name="count" value="desc" {% if orders_by.count == 'desc' %} checked {% endif %} >
			<label for="count_Choice2">DESC</label>

		</div>
	</fieldset>	
	<div>
	  <button  class="btn btn-primary" type="submit">Reload</button>
	</div>
	<br>
  </form>


<div class="list-group"  align = 'left'>
	{% for book in books %}
	<button type="button" class="list-group-item list-group-item-action"  width = '200'>  Книга "{{ book.name }}". {{ book.all_authors_string }}</button>
	{% endfor %}
</div>

<a href="{% url 'index' %}">Back</a>

{% endblock %}
